* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 1.30rem;
    margin-top: 1.5rem;
  }
  
  a,
  button {
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    background-color: rgb(77, 128, 232);
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .task header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(181, 240, 233);
  }
  
  .task h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .controls {
    display: flex;
    gap: 0.5rem;
  }