<h1>Command Board Task Manager</h1>

<% if logged_in? %>
  <h3>Welcome to the Command Board <%= current_user['first_name'] %></h3>
  
  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Log out</button>
    </form>

    <a href="/tasks/new">Add Task Item</a>
  </section>

  <section class="tasks">
    <% tasks.each do |task| %>
      <section class="task">
        <header>
          <h2><%= task['task_name'] %></h2>

          <section class="controls">
            <a href="/tasks/<%= task['id'] %>/edit">Edit</a>

            <form action="/tasks/<%= task['id'] %>" method="POST">
              <input type="hidden" name="_method" value="delete">
              <button>Delete</button>
            </form>
          </section>
        </header>
      </section>
    <% end %>
  </section>
<% else %>
  <a href="/users/new">Sign Up</a>
  <a href="/sessions/new">Log In</a>
<% end %>